<%= simple_form_for [:dashboard, @account], html: { class: "max-w-3xl p-2" }, local: true do |f| %>
  <div class="w-full flex mt-3">
    <%= f.input :first_name, label: false, placeholder: "First name",
                wrapper_html: { class: "mr-3" },
                input_html: {
                  class: "basic-field" } %>
    <%= f.input :last_name, label: false, placeholder: "Last name",
                input_html: {
                  class: "basic-field" } %>
  </div>
  <div class="flex mt-3">
    <%= f.input :email, label: false, placeholder: "Email",
            wrapper_html: { class: "mr-3" },
                input_html: {
                  class: "basic-field w-full" } %>
    <%= f.input :phone_number, label: false, placeholder: "Phone number",
                wrapper_html: { class: "mr-3" },
                input_html: {
                  class: "basic-field" } %>
  </div>
  <div class="flex mt-3">
    <%= f.input :password, label: false, placeholder: "Password",
                wrapper_html: { class: "mr-3" },
                input_html: {
                  class: "basic-field" } %>
    <%= f.input :password_confirmation, label: false, placeholder: "Password confirmation",
                input_html: {
                  class: "basic-field" } %>
  </div>

  <%= f.submit "Save", class: "submit-btn text-gray-800 hover:text-orange-800" %>
<% end %>
