<%= simple_form_for [:admin, object], html: { class: "p-4" }, local: true do |f| %>
  <%= f.hidden_field :addressable_type, value: addressable.model_name.human %>
  <%= f.hidden_field :addressable_id, value: addressable.id %>

  <%= f.input :line_one, as: :string,
              label_html: { class: "form-label" },
              wrapper_html: { class: "w-full" },
              input_html: { class: "basic-field w-full" } %>
  <%= f.input :line_two, as: :string,
              label_html: { class: "form-label" },
              wrapper_html: { class: "w-full" },
              input_html: { class: "basic-field w-full" } %>
  <div class="mt-3">
    <div class="flex justify-between">
      <%= f.input :city,
                  label_html: { class: "form-label" },
                  input_html: { class: "basic-field" } %>
      <%= f.input :country, as: :string,
                  label_html: { class: "form-label" },
                  input_html: { class: "basic-field" } %>
    </div>
    <div class="flex justify-between mt-2">
      <%= f.input :zip_code,
                  label_html: { class: "form-label" },
                  input_html: { class: "basic-field" } %>
      <%= f.input :phone_number,
                  label_html: { class: "form-label" },
                  input_html: { class: "basic-field" } %>
    </div>
  </div>
  <%= f.input :additional_information, as: :rich_text_area,
              wrapper_html: { class: "mt-3" },
              input_html: { class: "basic-field w-full" } %>

  <div class="w-full flex justify-between items-center flex-wrap mt-6">
    <%= f.button :submit, class: "text-sm md:text-base mt-4 py-1 px-2 transition duration-300 border text-white
                                hover:text-orange-800 bg-orange-900 hover:bg-white cursor-pointer" %>
    <%= link_to "Close", "#", class: "close-modal-btn", "data-action": "click->modal#close" %>
  </div>
<% end %>
