<%= simple_form_for [:admin, object], local: true do |f| %>
  <div class="mt-2">
    <%= f.hidden_field :property_id, value: @property.id %>

    <%= f.input :account_id, as: :select,
                   collection: Account.all.collect { |e| [e.full_name, e.id] },
                   include_blank: false, prompt: "Select Account Manager",
                   wrapper_html: { class: "flex flex-col" },
                   label_html: { class: "form-label" },
                   input_html: { class: "select-field" } %>
  </div>

  <div class="w-full flex justify-between items-center flex-wrap mt-6">
    <%= f.button :submit, class: "text-sm md:text-base mt-4 py-1 px-2 transition duration-300 border text-white
                                hover:text-orange-800 bg-orange-900 hover:bg-white cursor-pointer" %>
    <%= link_to "Close", "#", class: "close-modal-btn", "data-action": "click->modal#close" %>
  </div>
<% end %>
