<div class="bg-slate-900 p-8 pt-7 mt-3">
  <%= simple_form_for [:admin, object], local: true do |f| %>
    <div class="mt-2">
      <%= f.hidden_field :contributable_id, value: contributable.id  %>
      <%= f.hidden_field :contributable_type, value: contributable.class  %>

      <%= f.input :name, placeholder: "New contribution name", label: false,

                     input_html: { class: "basic-field" } %>
      <div class="flex gap-x-4">
        <%= f.input :amount,
                       wrapper_html: { class: "mt-3" },
                       label_html: { class: "form-label" },
                       input_html: { class: "basic-field" } %>
        <%= f.input :account_id, as: :select,
                       collection: contributable.accounts.collect { |e| [e.full_name, e.id] },
                       include_blank: false, prompt: "Please select an Account",
                       wrapper_html: { class: "mt-3" },
                       label_html: { class: "form-label" },
                       input_html: { class: "select-field" } %>
        <%= f.input :contribution_type, as: :select,
                       collection: Contribution.contribution_types.keys.collect { |ct| [ct.humanize, ct] },
                       include_blank: false, prompt: "Please select a contribution type",
                       wrapper_html: { class: "mt-3" },
                       label_html: { class: "form-label" },
                       input_html: { class: "select-field" } %>
      </div>
      <%= f.input :description, as: :rich_text_area,
                     wrapper_html: { class: "mt-4" },
                     label_html: { class: "form-label" },
                     input_html: { class: "basic-field" } %>
    </div>

    <div class="w-full flex justify-between items-center flex-wrap mt-6">
      <%= f.button :submit, class: "text-sm md:text-base mt-4 py-1 px-2 transition duration-300 border text-white
                                hover:text-orange-800 bg-orange-900 hover:bg-white cursor-pointer" %>
      <%= link_to "Close", "#",
            class: "close-modal-btn",
            "data-action": "click->modal#close" if action_name == "dashboard" %>
    </div>
  <% end %>
</div>
