<%= simple_form_for [:admin, @payable, object], local: true do |f| %>
  <div>
    <div class="flex gap-x-4 mt-4">
      <%= f.input :name,
                  wrapper_html: { class: "w-1/2" },
                  label_html: { class: "form-label" },
                  input_html: { class: "basic-field" } %>
      <%= f.input :amount,
                  label_html: { class: "form-label" },
                  input_html: { class: "basic-field" } %>
      <%= f.input :due_date, as: :string,
                  label_html: { class: "form-label" },
                  input_html: { class: "basic-field", data: { controller: "flatpickr" } } %>
    </div>
    <%= f.input :message, as: :rich_text_area,
                wrapper_html: { class: "mt-4" },
                label_html: { class: "form-label" },
                input_html: { class: "basic-field" } %>
  </div>

      <div class="w-full flex justify-between items-center flex-wrap mt-6">
      <%= f.button :submit, class: "text-sm md:text-base mt-4 py-1 px-2 transition duration-300 border text-white
                                hover:text-orange-800 bg-orange-900 hover:bg-white cursor-pointer" %>
      <%= link_to "Close", "#",
            class: "close-modal-btn",
            "data-action": "click->modal#close" if action_name == "dashboard" %>
    </div>
<% end %>
