<%= turbo_frame_tag dom_id(@payment) do %>
  <%= simple_form_for [:admin, @payment], local: true do |f| %>
    <div class="flex justify-between items-center gap-x-4 mb-4 p-2 border border-amber-800">
      <div>
        <%= f.label :invoice, label: "Upload a file", class: "mt-3" %> <br>
        <%= f.file_field :invoice, class: "mb-3" %>
      </div>
      <div class="flex-col justify-center">
        <div><%= render(::Atoms::Form::SaveButton::SaveButtonComponent.new(object: f, label: "Upload Invoice", spacing: "mt-4")) %></div>
        <div class="text-center mt-2"><%= render(::Atoms::Form::CloseModalButton::CloseModalButtonComponent.new(label: "Close")) %></div>
      </div>
    </div>
  <% end %>
<% end %>