<%= turbo_frame_tag dom_id(@payment) do %>
  <%= simple_form_for [:admin, @payment], local: true do |f| %>
    <div class="flex justify-between items-center gap-x-4 mb-4 p-2 border border-amber-800">
      <div>
        <%= f.label :invoice, label: "Upload a file", class: "mt-3" %> <br>
        <%= f.file_field :invoice, class: "mb-3" %>
      </div>
      <div class="w-full flex justify-between items-center flex-wrap mt-6">
        <%= f.button :submit, class: "text-sm md:text-base mt-4 py-1 px-2 transition duration-300 border text-white
                                hover:text-orange-800 bg-orange-900 hover:bg-white cursor-pointer" %>
        <%= link_to "Close", "#",
                    class: "close-modal-btn",
                    "data-action": "click->modal#close" if action_name == "dashboard" %>
      </div>
    </div>
  <% end %>
<% end %>
