<% unless task.todo_items.empty? %>
  <div data-controller="reveal" data-reveal-hidden-class="hidden">
    <div class="w-full flex items-center">
      <!-- Reveal Todo Items -->
      <button data-action="click->reveal#toggle" type="button" class="w-full flex items-center pt-1">
        <!-- Todo Item Progress bar -->
        <span class="todo-items-progress-bar w-full mr-3">
          <div class="overflow-hidden h-3 mb-2 text-xs flex bg-slate-500">
            <div style="width: <%= task.completed_todo_items_percentage %>%"
                 class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-orange-800">
              <% if task.completed_todo_items_percentage == 100 %>
                <span>Todo Items FINISHED.</span>
              <% else %>
                <span>Todo Items progress <%= task.todo_items_progression %></span>
              <% end %>
            </div>
          </div>
        </span>
        <span>
          <%= heroicon "chevron-down", options: { class: "w-6 hover:text-orange-800 cursor-pointer",
                                                  disable_default_class: true } %>
        </span>
      </button>
    </div>
    <div data-reveal-target="item" class="hidden mt-4">
      <% task.todo_items.each do |todo_item| %>
        <%= turbo_frame_tag dom_id(todo_item) do %>
          <li class="flex justify-between items-center mt-2 p-1 bg-slate-900">
              <span>
                <%= link_to todo_item.title, edit_admin_todo_item_path(todo_item), class: "#{'line-through' if todo_item.completed?}" %>
              </span>
            <span class="flex">
              <%= button_to "#{todo_item.completed? ? reactivate_admin_todo_item_path(todo_item) : complete_admin_todo_item_path(todo_item)}",
                            :method => :put, class: "#{ todo_item.completed? ? '' : ''} mr-2",
                            data: { turbo_frame: "_top" } do %>
                <%= heroicon "#{todo_item.completed? ? 'arrow-path' : 'circle-check'}", options: { class: "w-4 text-red-600 hover:text-blue-300",
                                                 disable_default_class: true } %>
              <% end %>
              <%= button_to admin_todo_item_path(todo_item), :method => :delete, remote: true, class: "text-red-700",
                            data: { turbo_frame: "_top", confirm: "Are sure you want to delete this todo item?" } do %>
                <%= heroicon "trash", options: { class: "w-4 text-red-600 hover:text-blue-300",
                                                 disable_default_class: true } %>
              <% end %>
              </span>
          </li>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %><!-- END - Todo Items -->
