<div class="bg-white text-gray-800 mt-3 rounded-lg">
  <%= simple_form_for [:dashboard, object], html: { class: "p-4 w-full min-w-md" }, local: true do |f| %>

    <%= f.hidden_field :addressable_id, value: current_account.id %>
    <%= f.hidden_field :addressable_type, value: "Account" %>

    <div class="flex gap-x-4">
      <%= f.input :street_number, label: "#", wrapper_html: { class: "w-20" }, label_html: { class: "text-gray-800" },
                  input_html: { class: "basic-input" }, error_html: { class: "error-input" } %>
      <%= f.input :street_name, as: :string, label: "Nom", wrapper_html: { class: "w-full" }, label_html: { class: "text-gray-800" },
                  input_html: { class: "basic-input" }, error_html: { class: "error-input" } %>
    </div>
    <div class="mt-3">
      <div class="flex justify-between">
        <%= f.input :floor, label: "Etage", label_html: { class: "text-gray-800" }, input_html: { class: "basic-input" } %>
        <%= f.input :door, label: "Porte", label_html: { class: "text-gray-800" }, input_html: { class: "basic-input" } %>
        <%= f.input :building, label: "Bâtiment", label_html: { class: "text-gray-800" }, input_html: { class: "basic-input" } %>
      </div>
    </div>
    <div class="mt-3">
      <div class="flex gap-x-4">
        <%= f.input :city, label: "Ville", label_html: { class: "text-gray-800" },
                    wrapper_html: { class: "w-full" },
                    input_html: { class: "basic-input  w-full" }, error_html: { class: "error-input" } %>
        <%= f.input :zip_code, label: "Code Postal", label_html: { class: "text-gray-800" },
                    input_html: { class: "basic-input" }, error_html: { class: "error-input" } %>
      </div>
      <div class="flex justify-between mt-2">
        <%= f.input :country, as: :string, label: "Pays", label_html: { class: "text-gray-800" },
                    wrapper_html: { class: "w-full" },
                    input_html: { class: "basic-input  w-full" }, error_html: { class: "error-input" } %>
      </div>
    </div>
    <%= f.input :additional_information, as: :rich_text_area, wrapper_html: { class: "mt-3" } %>

    <div class="w-full flex justify-between items-center flex-wrap mt-6">
      <%= render(::Atoms::Form::SaveButton::SaveButtonComponent.new(object: f, label: "Save", spacing: false)) %>
      <%= render(::Atoms::Form::CloseModalButton::CloseModalButtonComponent.new(label: "Close")) unless %w[new].include?(action_name) %>
    </div>
  <% end %>
</div>