<div class="bg-slate-900 p-2 md:p-8 mb-4">
  <%= simple_form_for [:admin, @timer], html: { class: "w-100" }, local: true do |f| %>
    <%= f.hidden_field :task_id, value: @timer.task.id %>

    <%= f.input :start_at, as: :string,
                wrapper_html: { class: "mr-4" },
                label_html: { class: "form-label me-2" },
                input_html: { class: "basic-field", data: { controller: "flatpickr", flatpickr_enable_time: true } } %>
    <%= f.input :end_at, as: :string,
                label_html: { class: "form-label me-2" },
                input_html: { class: "basic-field", data: { controller: "flatpickr", flatpickr_enable_time: true } } %>

    <div class="w-full flex justify-between items-center flex-wrap mt-6">
      <%= f.button :submit, class: "submit-btn bg-orange-900" %>
    </div>
  <% end %>
</div>
