<div class="bg-slate-900 text-white p-8 pt-7 mt-3">
  <div class="flex justify-center p-10">
    <p><%= @deck.questions.reviewed_before_today.count %> / <%= @deck.questions.count %></p>
  </div>
  <div>
    <div>
      <% if @deck.questions.reviewed_before_today.not_full_proficiency.count > 0 %>
        <% if @deck.personal? %>
          <% @deck.questions.reviewed_before_today.not_full_proficiency.each_with_index do |question, i| %>
            <div class="<%= "hidden" unless i.zero? %>">
              <%= render partial: "admin/decks/question", locals: { question: question } %>
            </div>
          <% end %>
        <% else %>
          <% @deck.questions.not_full_proficiency.each do |question| %>
            <div>
              <%= render partial: "admin/decks/question", locals: { question: question } %>
            </div>
            <hr>
          <% end %>
        <% end %>
      <% else %>
        <div class="mt-4 text-center">
          <% if @deck.questions.empty? %>
            <p>Cool deck! How about we add few questions here and get started memorizing!? 😉</p>
          <% else %>
            <p>
              <span>&#128079;</span>
              Seems like you already went through all the questions in this deck.
              <span>&#128077;</span>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<p class="text-center mt-5 hover:text-orange-800">
  <%= link_to "Edit this deck", edit_admin_deck_path(@deck), class: "text-decoration-none" %>
</p>
