<%= simple_form_for [:admin, @user], html: { class: "" }, local: true do |f| %>
  <div class="flex mt-3">
    <%= f.input :first_name, label: false, placeholder: "First name",
                wrapper_html: { class: "mr-3" },
                input_html: { class: "basic-field" } %>
    <%= f.input :last_name, label: false, placeholder: "Last name",
                input_html: { class: "basic-field" } %>
  </div>
  <div class="flex mt-3">
    <%= f.input :email, label: false, placeholder: "Email",
            wrapper_html: { class: "mr-3" },
            error_html: { class: "" },
            input_html: { class: "basic-field" } %>
    <%= f.input :phone_number, label: false, placeholder: "Phone number",
                wrapper_html: { class: "mr-3" },
                input_html: { class: "basic-field" } %>
  </div>
  <% if current_user.admin? %>
    <%= f.input :role, as: :select, label: false, placeholder: "Role",
                collection: User.roles.keys.collect { |s| [s.humanize, s] },
                wrapper_html: { class: "mt-4" },
                input_html: { class: "select-field" } %>
  <% end %>
  <div class="flex mt-3">
    <%= f.input :password, label: false, placeholder: "Password",
                wrapper_html: { class: "mr-4" },
                error_html: { class: "error-message" },
                input_html: { class: "basic-field" } %>
    <%= f.input :password_confirmation, label: false, placeholder: "Password confirmation",
                error_html: { class: "error-message" },
                input_html: { class: "basic-field" } %>
  </div>

  <%= f.button :submit, class: "submit-btn bg-orange-900" %>
<% end %>
