<div class="w-full text-gray-800 mt-24 mb-24">
  <div class="flex justify-between items-center mt-14 mb-2 text-sm font-medium">
    <h2><%= @discussion.subject %></h2>
  </div>
  <div class="px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
    <div class="flex flex-col justify-between">
      <div class="md:flex justify-between mb-2">
        <div>
          <b>Concernant:</b>
          <%= link_to @discussion.discussable.try(:name) || @discussion.discussable.try(:full_name),
                      "/dashboard/#{@discussion.discussable_type.downcase.pluralize}/#{@discussion.discussable.id}",
                      class: "border-b border-gray-200" %>
        </div>
        <div>
          <b>Créée le</b>: <%= @discussion.created_at.strftime("%Y/%m/%d") %>
        </div>
      </div>
    </div>
    <div class="flex mt-5">
      <p><%= heroicon "chat-bubble-left", options: { class: "w-4", disable_default_class: true } %></p>
      <p><%= @discussion.description %></p>
    </div>
  </div>

  <div class="mt-5 px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
    <% if @discussion.not_started? %>
      <p>Nous essayons de vous répondre dans les plus bref délais.</p>
    <% else %>
      <!-- Comments -->
      <div class="px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
        <% @comments.each do |comment| %>
          <div class="mt-4 mb-4">
            <p><b><%= comment.submitted_by.full_name %></b>
              <span class="text-xs"><%= comment.created_at.strftime("%x - %X") %></span>
            <div class="mt-1 p-2 rounded-lg"><%= comment.content %></div>
          </div>
          <!-- Comment's comments -->
          <%= link_to "Répondre", new_dashboard_comment_comment_path(comment), class: "text-amber-800" %>
          <span class="text-xs"> ( <%= comment.comments.count %> Réponses)</span>
          <% unless comment.comments.empty? %>
            <div class="mt-2 mb-4">
              <%= render comment.comments %>
            </div>
          <% end %>
        <% end %>

        <hr>

        <%= render template: "dashboard/comments/new" %>
      </div>
    <% end %>
  </div>
</div>
