<div class="hidden fixed sidenav w-48 h-screen md:flex flex-col justify-between bg-slate-900 text-slate-300 px-6
            py-8 shadow-xl dark:text-slate-300 text-base font-medium tracking-tight">
  <!-- Logo -->
  <div>
    <%= link_to image_tag("casa_laterite_logo.svg", alt: "Casa Laterite logo", width: "70",
                          class: "flex items-center border bg-slate-500 p-2"), admin_root_path %>
  </div>
  <!-- Nav -->
  <nav>
    <ul class="text-slate-300">
      <li class="mb-2">
        <%= link_to "Events", admin_events_path,
                    class: "hover:text-orange-800 #{params[:controller] == "admin/events" ? 'text-orange-800' : '' }" %>
      </li>
      <li class="border my-3"></li>
      <li class="mb-2">
        <%= link_to "Discussions", admin_discussions_path,
                    class: "hover:text-orange-800 #{params[:controller] == "admin/discussions" ? 'text-orange-800' : '' }" %>
      </li>
      <li class="border my-3"></li>
      <li class="flex justify-between mb-2">
        <%= link_to "Projects", admin_projects_path,
                    class: "hover:text-orange-800 #{params[:controller] == "admin/projects" ? 'text-orange-800' : '' }" %>
        <div data-controller="dropdown" class="relative">
          <button type="button" data-action="dropdown#toggle click@window->dropdown#hide">
            <%= heroicon "chevron-down", options: { class: "w-6 hover:text-orange-800 cursor-pointer",
                                                    disable_default_class: true } %>
          </button>
          <div
            data-dropdown-target="menu"
            class="hidden transition transform origin-top-right absolute right-0"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95"
          >
            <%= link_to "Project Types", admin_project_types_path,
                        class: "bg-slate-300 whitespace-nowrap text-slate-900 p-2 px-10 hover:text-orange-800
                                #{params[:controller] == "admin/project_types" ? 'text-orange-800' : '' }",
                        data: { action: "dropdown#toggle" } %>
          </div>
        </div>
      </li>
      <li class="border my-3"></li>
      <li class="flex justify-between mb-2">
        <%= link_to "Properties", admin_properties_path,
                    class: "hover:text-orange-800 #{params[:controller] == "admin/properties" ? 'text-orange-800' : '' }" %>
        <div data-controller="dropdown" class="relative">
          <button type="button" data-action="dropdown#toggle click@window->dropdown#hide">
            <%= heroicon "chevron-down", options: { class: "w-6 hover:text-orange-800 cursor-pointer",
                                                    disable_default_class: true } %>
          </button>
          <div
            data-dropdown-target="menu"
            class="hidden transition transform origin-top-right absolute right-0"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95"
          >
            <%= link_to "Property Categories", admin_property_types_path,
                        class: "bg-slate-300 whitespace-nowrap text-slate-900 p-2 hover:text-orange-800
                                #{params[:controller] == "admin/property_types" ? 'text-orange-800' : '' }",
                        data: { action: "dropdown#toggle" } %>
          </div>
        </div>
      </li>
      <li class="border my-3"></li>
      <li class="mb-2">
        <%= link_to "Contributions", admin_contributions_path,
                    class: "hover:text-orange-800 #{params[:controller] == "admin/contributions" ? 'text-orange-800' : '' }" %>
      </li>
      <li class="border my-3"></li>
      <li class="mb-2">
        <%= link_to "Payments", admin_payments_path,
                    class: "hover:text-orange-800 #{params[:controller] == "admin/payments" ? 'text-orange-800' : '' }" %>
      </li>
      <li class="border my-3"></li>
      <li class="mb-2">
        <%= link_to "Accounts", admin_accounts_path,
                    class: "hover:text-orange-800 #{params[:controller] == "admin/accounts" ? 'text-orange-800' : '' }" %>
      </li>
      <li class="border my-3"></li>
      <li class="mb-2">
        <% if @user %>
          <%= link_to "Users", admin_users_path,
                      class: "hover:text-orange-800 #{ 'text-orange-800' unless @user.id == current_user.id }" %>
        <% else %>
          <%= link_to "Users", admin_users_path,
                      class: "hover:text-orange-800 #{ 'text-orange-800' if (%w[users].include?(controller_name) && %w[index].include?(action_name)) }" %>
        <% end %>
      </li>
      <li class="border my-3"></li>
      <li class="flex justify-between mb-2">
        <%= link_to "Articles", admin_articles_path,
                    class: "hover:text-orange-800 #{params[:controller] == "admin/articles" ? 'text-orange-800' : '' }" %>
        <div data-controller="dropdown" class="relative">
          <button type="button" data-action="dropdown#toggle click@window->dropdown#hide">
            <%= heroicon "chevron-down", options: { class: "w-6 hover:text-orange-800 cursor-pointer",
                                                    disable_default_class: true } %>
          </button>
          <div
            data-dropdown-target="menu"
            class="hidden transition transform origin-top-right absolute right-0"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95"
          >
            <%= link_to "Articles Categories", admin_article_categories_path,
                        class: "bg-slate-300 whitespace-nowrap text-slate-900 p-2 px-3 hover:text-orange-800
                                #{params[:controller] == "admin/article_categories" ? 'text-orange-800' : '' }",
                        data: { action: "dropdown#toggle" } %>
          </div>
        </div>
      </li>
      <li class="border my-3"></li>
    </ul>
  </nav>
  <!-- Profile -->
  <nav>
    <ul>
      <li class="mb-2">
        <%= link_to "My Profile", admin_user_path(current_user.id),
                    class: "hover:text-orange-800 #{current_page?(edit_admin_user_path(current_user.id)) || current_page?(admin_user_path(current_user.id)) ? 'text-orange-800' : '' }" %>
      </li>
      <li class="border my-3"></li>
      <li class="mb-2">
        <%= link_to "My Posts", admin_my_posts_path,
                    class: "hover:text-orange-800 #{params[:controller] == "admin/posts" ? 'text-orange-800' : '' }" %>
      </li>
      <li class="border my-3"></li>
      <li class="mb-2">
        <%= link_to "Campaigns", admin_campaigns_path,
                    class: "hover:text-orange-800 #{params[:controller] == "admin/campaigns" ? 'text-orange-800' : '' }" %>
      </li>
      <li class="border my-3"></li>
    </ul>
  </nav>
  <!-- System -->
  <nav>
    <ul class="text-slate-300">
      <li class="mb-2">
        <%= link_to "Website", root_path, target: "_blank", class: "hover:text-orange-800" %>
      </li>
      <li class="mb-2">
        <%= link_to "System", admin_system_path, class: "hover:text-orange-800" %>
      </li>
      <li>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "text-red-500 hover:text-red-900",
                      form: { data: { turbo_confirm: 'Are you sure?' } } %>
      </li>
    </ul>
  </nav>
</div>
